/*  your css code here. If applicable */
:root {
	background-color : skyblue;
}
.in li {
	list-style-type : disc;
}
  p:first-child {
	 background-color : black;
	 color : white;
 }
p:last-child {
	color : red;
}
li:nth-child(2n){
	background-color : slategray;
}
li:nth-child(3) {
	background-color : pink;
}
li:first-child,li:last-child {
	background-color : white;
}

